<h3>Líneas Celulares</h3>
<table class="mdl-data-table mdl-js-data-table ">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"> Número </th>
      <th class="mdl-data-table__cell--non-numeric"> Usuario </th>
      <th class="mdl-data-table__cell--non-numeric"> Estado </th>
      <th class="mdl-data-table__cell--non-numeric"> Tipo SIM </th>
      <th class="mdl-data-table__cell--non-numeric"> Servicios </th>
      <th class="mdl-data-table__cell--non-numeric"> Últ. Check </th>
      <th class="mdl-data-table__cell--non-numeric"> Cuenta </th>
      <th class="mdl-data-table__cell--non-numeric"> Lím. Offnet </th>
      <th class="mdl-data-table__cell--non-numeric"> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% lines.each do |line| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"> <%= line.number %> </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_line_path, class: "fixed-botton-right-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do %>
  <%= fa_icon('plus', class: "material-icons") %>
<% end %>
