<ul class="nav flex-column pl-1">
  <li class="nav-item"><%= link_to fa_icon("phone-square", text: "Lineas"), lines_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to fa_icon("mobile", text: "Equipos"), lines_path, class: "nav-link" %></li>
</ul>
