<ul class="nav flex-column pl-1">
  <li class="nav-item"><%= link_to fa_stacked_icon("volume-control-phone", base: "mobile", text: "Lineas"), cellphones_lines_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to fa_stacked_icon("mobile 2x", base: "", text: "Equipos"), cellphones_devices_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to fa_stacked_icon("question", base: "mobile", text: "Modelos"), cellphones_models_path, class: "nav-link" %></li>
</ul>
