<br>
<div class="card">
  <div class="card-header">
    <h2>Línea</h2>
  </div>
  <div class="card-body">
    <%= render "form", button: 'Guardar' %>
  </div>
</div>
<br>
<% if @line.person.present? %>
  <div class="card">
    <div class="card-header">
      <h2>Usuario</h2>
    </div>
    <div class="card-body">
      <%= render "people/form2", button: 'Guardar', user: @line.person %>
    </div>
  </div>
<% end %>
