<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card text-white bg-success">
      <div class="card-header">
        <h2>Línea</h2>
      </div>
      <div class="card-body">
        <%= render "form", button: 'Guardar' %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card text-white bg-primary">
      <div class="card-header">
        <h2>Usuario</h2>
      </div>
      <div class="card-body">
        <% if @line.person.present? %>
          <%= render "people/form2", button: 'Guardar', user: @line.person %>
        <% else %>
          No tiene usuario asociado.
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card text-white bg-info">
      <div class="card-header">
        <h2>Equipo</h2>
      </div>
      <div class="card-body">
        <% if @line.device.present? %>
          <%= render "device/form2", button: 'Guardar', device: @line.device %>
        <% else %>
          No tiene equipo asociado
        <% end %>
      </div>
    </div>
  </div>
</div>
