<h4>Editar línea <%= @line.number %></h4>
<div class="container-fluid">
  <%= render "form", button: 'Guardar' %>
  <%= link_to fa_icon("back", text: "Cancelar"), root_path(section:'lines'), class: "btn btn-warning" %>
</div>
