<h3>Usuarios</h3>
<table class="mdl-data-table mdl-js-data-table ">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"> Nombre </th>
      <th class="mdl-data-table__cell--non-numeric"> DNI </th>
      <th class="mdl-data-table__cell--non-numeric"> Oficina </th>
      <th class="mdl-data-table__cell--non-numeric"> Líneas/Equipos </th>
      <th class="mdl-data-table__cell--non-numeric"> Servicios </th>
      <th class="mdl-data-table__cell--non-numeric"> Emails </th>
      <th class="mdl-data-table__cell--non-numeric"> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
        <td class="mdl-data-table__cell--non-numeric">  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_person_path, class: "fixed-botton-right-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do %>
  <%= fa_icon('plus', class: "material-icons") %>
<% end %>
