<br>
<br>
<br>
<li class="nav-item">
  <%= link_to fa_icon("external-link", text: "Links Externos"), '#submenu1', {'data-toggle' =>  "collapse", 'data-target' => '#submenu1', class: "nav-link"} %>
    <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
       <li class="nav-item"><a class="nav-link" target="_blank" href="https://vpnmovil.claro.com.ar/#/login">VPN</a></li>
       <li class="nav-item"><a class="nav-link" target="_blank" href="https://empresas.claro.com.ar/web/guest/inicio">Claro Empresas</a></li>
    </ul>
</li>
