<%= content_for :tabs do %>
  <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Sobre el proyecto</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Features</a>
    </div>

<% end %>

<!-- Main content -->
<section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
  <div class="page-content">
    <p>
      Version 2 del proyecto "Telefonía On Rail" para la Municipalidad de Godoy Cruz
    </p>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="scroll-tab-2">
  <div class="page-content">
    Lista de requisitos faltantes:
    <ul>
      <li>Carga de usuarios</li>
      <li>Registro y logeo</li>
    </ul>
  </div>
</section>
