$("#list_delegations").append('<li id="delegations_<%= delegataion.id %>"><%= delegations.name.titleize %></li>');
$("#delegation_<%= delegation.id %>").hide().fadeIn(2000);
$("#delegation_name").val('');
